Data type is the type of value assigned to a variable

Variables are entities of a program that hold a value

In [1]:
x=100

In [2]:
type(x)

int

In [3]:
x=654*454
type(x)

int

In [4]:
x

296916

In [5]:
x=3.14
type(x)

float

In [6]:
x='Hello WORLD'
type(x)

str

# Python Iterable

The iterable can be any iterable object, like a list, tuple, set etc.

Python Collections (Arrays)

There are four collection data types in the Python programming language:

- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- Dictionary is a collection which is ordered** and changeable. No duplicate members.

Note: Python does not have built-in support for Arrays, but Python Lists can be used instead.however, to work with arrays in Python you will have to import a library, like the NumPy library.

# PYTHON LISTS

List is a collection of values

Lists are created using square brackets

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

In [7]:

x=[23,34,56]
type(x)

list

It is also possible to use the list() constructor when creating a new list.

In [8]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [9]:
x

[23, 34, 56]

Accessing values in a list

In [10]:
x[0]

23

Changing values in a list

In [11]:
x[1]=100

In [12]:
x

[23, 100, 56]

Change a Range of Item Values

In [13]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

Note: The length of the list will change when the number of items inserted does not match the number of items replaced.

Insert Items

To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [14]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

Negative Indexing

Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [15]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

### Note: The search will start at index 2 (included) and end at index 5 (not included).

By leaving out the end value, the range will go on to the end of the list:

In [16]:
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

Append Items

To add an item to the end of the list, use the append() method:

In [17]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

Extend List

To append elements from another list to the current list, use the extend() method.

The elements will be added to the end of the list.

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [18]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [19]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

Remove Specified Item

The remove() method removes the specified item.

In [20]:
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'kiwi', 'orange']

Remove Specified Index

The pop() method removes the specified index.

If you do not specify the index, the pop() method removes the last item.

In [21]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

The del keyword also removes the specified index:

The del keyword can also delete the list completely.

In [22]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [23]:
thislist = ["apple", "banana", "cherry"]
del thislist

Clear the List

The clear() method empties the list.

The list still remains, but it has no content.

In [24]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

Loop Through a List

You can loop through the list items by using a for loop:

In [25]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

Loop Through the Index Numbers

You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [26]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

Using a While Loop

You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by refering to their indexes.

Remember to increase the index by 1 after each iteration.

In [27]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

Looping Using List Comprehension

List Comprehension offers the shortest syntax for looping through lists:

In [28]:
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

### List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

The Syntax

newlist = [expression for item in iterable if condition == True]

The return value is a new list, leaving the old list unchanged.

In [29]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

With list comprehension you can do all that with only one line of code:

In [30]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [31]:
# Set the values in the new list to upper case:

newlist = [x.upper() for x in fruits]
newlist

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [32]:
# Set all values in the new list to 'hello':

newlist = ['hello' for x in fruits]
newlist

['hello', 'hello', 'hello', 'hello', 'hello']

In [33]:
# The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:

# This example Replaces "banana" with "orange":

newlist = [x if x != "banana" else "orange" for x in fruits]
newlist

['apple', 'orange', 'cherry', 'kiwi', 'mango']

### SORTING LISTS

Sort List Alphanumerically

List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [34]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [35]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

Sort Descending

To sort descending, use the keyword argument reverse = True:

In [36]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [37]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

Reverse Order

What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

In [38]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

Customize Sort Function

You can also customize your own function by using the keyword argument key = function.

The function will return a number that will be used to sort the list (the lowest number first):

In [39]:
# Sort the list based on how close the number is to 50:

def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

Case Insensitive Sort

By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [40]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

Copy a List

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [41]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

Another way to make a copy is to use the built-in method list().

In [42]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

Join Two Lists

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [43]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Or you can use the extend() method, which purpose is to add elements from one list to another list:

In [44]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

Another way to join two lists is by appending all the items from list2 into list1, one by one:

In [45]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [46]:
list1[::-1]
# print a list in reverse order

[3, 2, 1, 'c', 'b', 'a']

In [47]:
list1[::2]

['a', 'c', 2]

In [48]:
list1[::-2]

[3, 1, 'b']

In [49]:
x= [[1,2],[3,4]]
x
# creating a list within a list

[[1, 2], [3, 4]]

In [50]:
for y in x:
    for x1 in y:
        print(x1)

1
2
3
4

In [51]:
[x for y in x ]

[[[1, 2], [3, 4]], [[1, 2], [3, 4]]]

## LIST OPERATIONS

In [52]:
x=[0]*10
x

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [53]:
list3=list1+list2
list3

['a', 'b', 'c', 1, 2, 3, 1, 2, 3]

In [54]:
list("hey there")

['h', 'e', 'y', ' ', 't', 'h', 'e', 'r', 'e']

In [55]:
one, *other=list3
one

'a'

In [56]:
other

['b', 'c', 1, 2, 3, 1, 2, 3]

In [57]:
listx=[1,2,3,4]
listx

[1, 2, 3, 4]

In [58]:
min(listx)

1

In [59]:
max(listx)

4

In [60]:
len(listx)

4

In [61]:
sum(listx)

10

# PYTHON TUPLES

Tuples are used to store multiple items in a single variable

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

Tuple items can be of any data type:

Create a Tuple:

In [62]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

To determine how many items a tuple has, use the len() function:

In [63]:
print(len(thistuple))

3

In [64]:
tuple1 = ("abc", 34, True, 40, "male")
type(tuple1)

tuple

It is also possible to use the tuple() constructor to make a tuple.

In [65]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

Create Tuple With One Item

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [66]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

Access Tuple items

Note: The first item has index 0.

In [67]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

Negative Indexing

Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

In [68]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [69]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

Note: The search will start at index 2 (included) and end at index 5 (not included).

By leaving out the start value, the range will start at the first item:

By leaving out the end value, the range will go on to the end of the list:

In [70]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])
print(thistuple[:4])

('cherry', 'orange', 'kiwi', 'melon', 'mango')
('apple', 'banana', 'cherry', 'orange')

Range of Negative Indexes

Specify negative indexes if you want to start the search from the end of the tuple:

In [71]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

Check if Item Exists

To determine if a specified item is present in a tuple use the in keyword:

In [72]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [73]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

Add Items

ince tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [74]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
thistuple

('apple', 'banana', 'cherry', 'orange')

2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [75]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

Remove Items

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [76]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
thistuple

('banana', 'cherry')

Or you can delete the tuple completely:

In [77]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

Unpacking a Tuple

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [78]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

### Note: The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [79]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [80]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

Loop Through a Tuple

You can loop through the tuple items by using a for loop.

In [81]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

Loop Through the Index Numbers

You can also loop through the tuple items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [82]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

Using a While Loop
You can loop through the list items by using a while loop.

Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by refering to their indexes.

Remember to increase the index by 1 after each iteration.

In [83]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

Join tuples

To join two or more tuples you can use the + operator:

In [84]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

Multiply Tuples

If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [85]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

index()	Searches the tuple for a specified value and returns the position of where it was found

In [86]:
mytuple.index('apple')

0

In [87]:
city="Paris",
type(city)

tuple

In [88]:
city=("Paris","Banglore","Delhi","Mumbai")
num=(1,2,3,4,5)
concat=city+num
concat

('Paris', 'Banglore', 'Delhi', 'Mumbai', 1, 2, 3, 4, 5)

## Tuple nesting

In [89]:
nest=(city,num)
nest

(('Paris', 'Banglore', 'Delhi', 'Mumbai'), (1, 2, 3, 4, 5))

## Tuple repetition

In [90]:
city*5

('Paris',
 'Banglore',
 'Delhi',
 'Mumbai',
 'Paris',
 'Banglore',
 'Delhi',
 'Mumbai',
 'Paris',
 'Banglore',
 'Delhi',
 'Mumbai',
 'Paris',
 'Banglore',
 'Delhi',
 'Mumbai',
 'Paris',
 'Banglore',
 'Delhi',
 'Mumbai')

In [91]:
t1=tuple("Hello")

In [92]:
a,b,c,d,e=t1
a

'H'

In [93]:
t1.count('H')
# Return number of occurrences of value.

1

In [94]:
min(num)

1

## Nesting tuples in a list

In [95]:
lst=[(1,2,3),(4,5,6)]
lst

[(1, 2, 3), (4, 5, 6)]

In [96]:
lst.append(city)
lst

[(1, 2, 3), (4, 5, 6), ('Paris', 'Banglore', 'Delhi', 'Mumbai')]

In [97]:
lst.remove((1,2,3))
lst

[(4, 5, 6), ('Paris', 'Banglore', 'Delhi', 'Mumbai')]

## Nest list within tuples

In [98]:
tpl=(['a','b','c'],['d','e','f'])
tpl

(['a', 'b', 'c'], ['d', 'e', 'f'])

In [99]:
tpl[0].append('i')
tpl

(['a', 'b', 'c', 'i'], ['d', 'e', 'f'])

In [100]:
tpl[0].remove('i')
tpl

(['a', 'b', 'c'], ['d', 'e', 'f'])

# PYTHON SETS

A set is a collection which is unordered, unchangeable*, and unindexed and do not allow duplicate values.

Sets are written with curly brackets.

* Note: Set items are unchangeable, but you can remove items and add new items.

In [101]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

To determine how many items a set has, use the len() function.

In [102]:
print(len(thisset))

3

Set items can be of any data type:

In [103]:
set1 = {"abc", 34, True, 40, "male"}
set1

{34, 40, True, 'abc', 'male'}

In [104]:
type(set1)

set

It is also possible to use the set() constructor to make a set.

In [105]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

Access Items

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [106]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

Check if an element is in a set using the in keyword

In [107]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

Once a set is created, you cannot change its items, but you can add new items.

Add Items

To add one item to a set use the add() method.

In [108]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'banana', 'orange'}

Add Sets

To add items from another set into the current set, use the update() method.

In [109]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'cherry', 'pineapple', 'papaya', 'banana', 'mango'}

The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [110]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'orange', 'kiwi', 'cherry', 'banana'}

Remove Item

To remove an item in a set, use the remove(), or the discard() method.

Note: If the item to remove does not exist, remove() will raise an error.

Note: If the item to remove does not exist, discard() will NOT raise an error.

In [111]:

thisset.remove("banana")

print(thisset)

{'apple', 'orange', 'kiwi', 'cherry'}

In [112]:
thisset.discard("cherry")

print(thisset)

{'apple', 'orange', 'kiwi'}

You can also use the pop() method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

In [113]:
x = thisset.pop()


print(thisset)

{'orange', 'kiwi'}

The clear() method empties the set:

In [114]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

The del keyword will delete the set completely:

In [115]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

Loop Items

You can loop through the set items by using a for loop:

In [116]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

Join Two Sets

There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [117]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [118]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

Both union() and update() will exclude any duplicate items.

Keep ONLY the Duplicates

The intersection_update() method will keep only the items that are present in both sets.

In [119]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [120]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

Keep All, But NOT the Duplicates

The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [121]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'cherry', 'google', 'banana'}

The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

In [122]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'cherry', 'google', 'banana'}

## Frozen sets

In Python, frozenset is the same as set except the frozensets are immutable which means that elements from the frozenset cannot be added or removed once created.

In [188]:
fs=frozenset([1,2,3,4])
fs

frozenset({1, 2, 3, 4})

In [189]:
fs.add('a')

AttributeError: 'frozenset' object has no attribute 'add'

## SET OPERATIONS

In [192]:
s1={1,2,3,4}
s2={3,5,6,7,8}
s3=s1.union(s2)
s3

{1, 2, 3, 4, 5, 6, 7, 8}

In [194]:
s3=s1.intersection(s2)
s3

{3}

In [196]:
s1.difference(s2)
# Return the difference of two or more sets as a new set.

{1, 2, 4}

# PYTHON DICTIONARIES

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.
Dictionaries can also be created by the dict()

In [123]:
thisdict=dict({1:"Welcome",2:"to",3:"Python",4:"tutorial"})
thisdict
type(thisdict)

dict

In [124]:
thisdict=dict([(1,"Welcome"),(2,"to"),(3,"Python"),(4,"tutorial")])
thisdict
type(thisdict)

dict

In [125]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [126]:
# Duplicate values will overwrite existing values:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

To determine how many items a dictionary has, use the len() function:

In [127]:
print(len(thisdict))

3

The values in dictionary items can be of any data type:

type(thisdict)

Accessing dictionary items

You can access the items of a dictionary by referring to its key name, inside square brackets:

In [128]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

There is also a method called get() that will give you the same result:

In [129]:
x = thisdict.get("model")
x

'Mustang'

The keys() method will return a list of all the keys in the dictionary.

In [130]:
x = thisdict.keys()
x

dict_keys(['brand', 'model', 'year'])

In [131]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()
y = car.values()
print(x) #before the change
print(y)

car["color"] = "white"

print(x) #after the change
print(y)

dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])
dict_keys(['brand', 'model', 'year', 'color'])
dict_values(['Ford', 'Mustang', 1964, 'white'])

The values() method will return a list of all the values in the dictionary.

In [132]:
x = thisdict.values()
x

dict_values(['Ford', 'Mustang', 1964])

Get Items

The items() method will return each item in a dictionary, as tuples in a list.

In [133]:
x = thisdict.items()
x

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

Check if Key Exists

To determine if a specified key is present in a dictionary use the in keyword:

In [134]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

Change Values

You can change the value of a specific item by referring to its key name:

In [135]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

Update Dictionary

The update() method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [136]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

Adding Items

Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [137]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

Update Dictionary

The update() method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [138]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

Removing Items

There are several methods to remove items from a dictionary:
- The pop() method removes the item with the specified key name:
- The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):
- The del keyword removes the item with the specified key name or it can also be used to delete the dictionary
- The clear() method empties the dictionary:

In [139]:
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964, 'color': 'red'}

In [140]:
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [141]:
del thisdict["brand"]
print(thisdict)

{'year': 1964}

In [142]:
thisdict.clear()
print(thisdict)

{}

In [143]:
del thisdict

Loop Through a Dictionary

You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [144]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
    print (x)

brand
model
year

Print all values in the dictionary, one by one:

In [145]:
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

You can also use the values() method to return values of a dictionary:

In [146]:
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

You can use the keys() method to return the keys of a dictionary:

In [147]:
for x in thisdict.keys():
  print(x)

brand
model
year

Loop through both keys and values, by using the items() method:

In [148]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

Copy a Dictionary

You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method copy().

In [149]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Another way to make a copy is to use the built-in function dict().

In [150]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Nested Dictionaries

A dictionary can contain dictionaries, this is called nested dictionaries.

In [151]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [177]:
myfamily['child3']

{'name': 'Linus', 'year': 2011}

In [178]:
myfamily['child3']['name']

'Linus'

In [181]:
myfamily.get('child3')

{'name': 'Linus', 'year': 2011}

## using built-in functions

In [182]:
myfamily.values()

dict_values([{'name': 'Emil', 'year': 2004}, {'name': 'Tobias', 'year': 2007}, {'name': 'Linus', 'year': 2011}])

In [184]:
keys=['a','b','c','d']
value=1
dict.fromkeys(keys,value)

{'a': 1, 'b': 1, 'c': 1, 'd': 1}

In [185]:
myfamily.clear()

In [186]:
myfamily

{}

In [152]:
(x,y,z)=5,10,23

In [153]:
x,y,z

(5, 10, 23)

In [154]:
(x,y,z)=1,1,1 #similar to

In [155]:
x=y=z=1

# Variable naming rules

Variable names must begin with an alphabet or an underscore

First character can be followed by alphabets,numbers or underscore

Variable names are case sensitive

The only special character in variable names is an underscore(_)

Reserved words cannot be used as variable names eg: break,try

In [156]:
abc=100

In [157]:
_abc=100

In [158]:
@abc=100

SyntaxError: invalid syntax (1144390958.py, line 1)

In [159]:
1abc=100

SyntaxError: invalid syntax (537578783.py, line 1)

In [160]:
a1bc=100

In [161]:
a_bc=100

In [162]:
abc_=100

In [163]:
abc=100
Abc=200
print(abc)
print (Abc)

100
200

In [164]:
break=10

SyntaxError: invalid syntax (875108267.py, line 1)

# Arithmetic Operations

In [165]:
x=20
y=10
sum=x+y
sum

30

In [166]:
div=x/y
div

2.0

In [167]:
product=x*y
product

200

In [168]:
diff=x-y
diff

10

In [169]:
# To put your result as an integer u use //
div=x//y
div

2

In [170]:
mod=x%y
mod

0

# String Operations

In [171]:
var="Py Course"

In [172]:
var[0]

'P'

In [173]:
var[:5]

'Py Co'

In [174]:
for x in var:
    print(x)

P
y

C
o
u
r
s
e

In [175]:
var[0:20]

'Py Course'

In [176]:
len(var)

9